@import url("https://fonts.googleapis.com/css?family=Heebo:900,400,700");
html, body {
    width: 100%;
    min-height: 100%;
    color: #fff;
    background-image: linear-gradient(to right bottom, #051937, #071f3d, #0a2644, #0d2c4a, #113350);}


.post p{
    font-weight: 800;
    text-decoration: none;
}

.post a{
    text-decoration: none;
}

.buffer-top {
    margin-top: 10%;
}

.thick-line {
    width: 100%;
    max-width: 538px;
    height: 10px;
    background-color: #fff;
    margin-bottom: 15px;
}

h1, h5, h4, p, a {
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    font-family: 'Heebo', sans-serif;
    color: #fff;
}


h4  {
    font-weight: 700;
}


h5 {
    font-weight: 700;
    font-size: 15px;
}

h5 > * {
    text-decoration: none;
}

h1 {
    line-height: 88px;
    font-size: 60px;
    font-weight: 900;
}

p {
    width: 100%;
    font-size: 18px;
    line-height: 23px;
}

